body{margin:0; font-family: Arial,Helvetica,sans-serif; font-size: 1em;}
section{max-width:800px; margin:0 auto;}

nav { position:fixed; width:100%; margin:0 auto; background-color:#FFF; transition: background-color 1s;}
nav ul {display: block; max-width:800px; margin:0 auto; padding:0;}
nav li{display: inline-block}
nav li a{display:inline-block; padding:30px; color:#000; text-decoration: none; transition: padding 1s;}
header{background-image:url('bandeau.jpg'); background-repeat: no-repeat; background-position:center 80px; height:360px;}


#mini_photo {text-align:center}
#grande_photo { text-align:center}
#mini_photo img{max-width:150px;}
#grande_photo img{max-width:450px; max-height:300px;}

#onglets h3{
	padding:0px;
	margin:0px;
	margin-top:5px;
	font-size:13px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	color: #666666;
	font-weight:bold;
}
#onglets{min-height:540px;}
#onglets h3 a{color: #666666;}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{background-color:#FFF;
border-color:#CCC
}

.animation_gif {text-align: center}

.mini {
	background-color:rgba(220,220,220, 0.9) ;
	transition: background-color 1s;
}

.mini a {
	padding: 10px;
	transition: padding 1s;
}
